*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: Helvetica, Arial, sans-serif;
    min-width: 350px;
    max-width: 1200px;
    margin: auto;
    background-color: #EEE4E0;
}

.product_container
{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap;

    text-align: center;
}

.product_container__item
{
    position: relative;
    padding: 20px;
    margin: 20px;
}

.product_container__item figure
{
    position: relative;
    width: 250px;
    height: 250px;

    background-size: 250px 250px;

    margin-bottom: 20px;
    box-shadow: 0 4px 4px 0 #00000040;

}

.miss-dior-1
{
    background-image: url("assets/imgs/missDior2.jpg");
}

.miss-dior-1:hover
{
    background-image: url("assets/imgs/missDior1.jpg");
}

.miss-dior-2
{
    background-image: url("assets/imgs/missDior3.jpg");
}

.miss-dior-2:hover
{
    background-image: url("assets/imgs/missDior4.jpg");
}

.lhome
{
    background-image: url("assets/imgs/L-HOME-IDEAL1.jpg");
}

.lhome:hover
{
    background-image: url("assets/imgs/L-HOME_IDEAL2.jpg");
}

.product_container__item
{
    font-size: 15px;
    line-height: 20px;
}

.product_container__item figcaption span
{
    text-decoration: line-through;
}

.product_container__item__caption
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #A5848D;
    width: 80px;
    height: 35px;
    color: rgb(255, 255, 255);
    z-index: 2;
    font-size: 20px;
}



.product_container__item figure:hover
{
    position: relative;
    transition: 0.5s;
}

.product_container__item figure:hover::after
{
    position: absolute;
    content: 'Quick View';
    background-color: rgba(255, 255, 255, 0.493);
    color: black;
    width: 250px;
    height: 50px;
    bottom: 0;
    left: 0;

    line-height: 50px;
    font-size: 15px;
}
